.openmrs {

	body & {
		font-family: "OpenSans", Arial, sans-serif;
		-webkit-font-smoothing: subpixel-antialiased;
		max-width: 1000px;
		margin: 10px auto;
		background: #eeeeee;
		color: #363463;
		font-size: 16px;
	}

	/* line 1232 OpenMRS Reference App CSS */
	.button, button, input[type="submit"], input[type="button"], input[type="submit"], a.button {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
		background: -webkit-linear-gradient(top, #ffffff, #dddddd);
		background: -moz-linear-gradient(top, #ffffff, #dddddd);
		background: -o-linear-gradient(top, #ffffff, #dddddd);
		background: -ms-linear-gradient(top, #ffffff, #dddddd);
		background: linear-gradient(top, #ffffff, #dddddd);
		background-color: #dddddd;
		border: #dddddd 1px solid;
		padding: 8px 20px;
		display: inline-block;
		line-height: 1.2em;
		color: #363463;
		cursor: pointer;
		min-width: 0;
		max-width: 300px;

		text-decoration: none;

		&:hover {
			background: #e2e2e2;
			border-color: #d0d0d0;
		}

		&.active {
			background: #d8d8d8;
			border-color: #d0d0d0;
		}

		.i, i {
			font-size: 1.2em;
			margin: 0;
			padding: 0;
			line-height: .5em;
		}

		&.big, &.medium {
			.i, i {
				display: block;
				font-size: 50px;
				margin: 0 auto;
				padding: 10px;
			}
		}

		/* line 1291 OpenMRS Reference App CSS */
		&.app {
			padding: 20px 10px;
			width: 150px;
			min-height: 90px;
			vertical-align: top;
			line-height: 1.3em;
			margin: 10px;
			text-align: center;
		}
	}
}
